# Ignore environment variable files
.env

# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore build output folders
dist/
build/

# Ignore temporary files created by editors
*.swp
*.tmp

